body {
  animation: opening 1s ease-in-out;
}

#hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 5rem 0rem;
  position: relative;
  .intro {
    display: flex;
    flex: 1 1 40rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    .more {
      color: white;
      font-weight: bold;
      background: #dd5b5b;
      padding: 1rem 2.5rem;
      margin: 2rem;
      border: none;
      border-radius: 1rem;
      z-index: 2;
      &:hover {
        background: #ca2929;
        cursor: pointer;
      }
    }
  }
  .wave {
    position: absolute;
    background: url(../img/wave4.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    bottom: 0;
    height: 50vh;
    width: 100%;
    margin: auto;
    z-index: 1;
  }
  .socials {
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    background: #dd5b5b;
    border-radius: 1rem;
    z-index: 2;
    a {
      padding: 1rem 2rem;
      &:hover {
        background: #ca2929;
        border-radius: 1rem;
      }
      svg path {
        fill: white;
      }
    }
  }
}
