* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  --header1: calc(1.5rem + 1vw);
  --header2: calc(7rem + 3vw);
  --header3: calc(2rem + 1vw);
  --header4: calc(2rem + 0.5vw);
  --header5: calc(0.8rem + 1rem);
  --text: calc(1.5rem + 0.5vw);
  --svg: calc(2rem + 0.5vw);
  --button: calc(1rem + 0.5vw);
  --project-image: calc(15rem + 5vw);
}

h1 {
  font-size: var(--header1);
}

li,
label,
input,
a,
p {
  font-size: var(--text);
  color: black;
}

button {
  font-size: var(--button);
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}

h4 {
  font-size: var(--header4);
}

h5 {
  font-size: var(--header5);
  font-weight: 500;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

svg {
  height: var(--svg);
  width: var(--svg);
}

.header-content {
  width: 90vw;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 10vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  padding: 2rem 2rem;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav-links li {
  padding: 2rem 5rem;
}

nav .nav-links li a {
  padding: 0.5rem 3rem;
  border-radius: 2rem;
}

nav .nav-links li a:hover, nav .nav-links li a:focus {
  background: #dd5b5b;
  color: white;
  cursor: pointer;
}

body {
  -webkit-animation: opening 1s ease-in-out;
          animation: opening 1s ease-in-out;
}

#hero {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 0rem;
  position: relative;
}

#hero .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

#hero .intro .more {
  color: white;
  font-weight: bold;
  background: #dd5b5b;
  padding: 1rem 2.5rem;
  margin: 2rem;
  border: none;
  border-radius: 1rem;
  z-index: 2;
}

#hero .intro .more:hover {
  background: #ca2929;
  cursor: pointer;
}

#hero .wave {
  position: absolute;
  background: url(../img/wave4.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  bottom: 0;
  height: 50vh;
  width: 100%;
  margin: auto;
  z-index: 1;
}

#hero .socials {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #dd5b5b;
  border-radius: 1rem;
  z-index: 2;
}

#hero .socials a {
  padding: 1rem 2rem;
}

#hero .socials a:hover {
  background: #ca2929;
  border-radius: 1rem;
}

#hero .socials a svg path {
  fill: white;
}

#projects-main {
  position: relative;
}

#projects-main .wave2 {
  position: absolute;
  background: url(../img/wave4.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  top: 0;
  height: 50%;
  width: 100%;
  margin: auto;
  z-index: -1;
}

#projects-main .color-fill {
  position: absolute;
  background: #197278;
  background-position: bottom;
  bottom: 0;
  height: 60%;
  width: 100%;
  z-index: -1;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 90vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding-bottom: 2rem;
}

.projects .project {
  height: 30rem;
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5rem 2rem;
  background: white;
  border-radius: 1rem;
}

.projects .project:hover .card-img {
  background: #ca2929;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.projects .project .card-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
  width: 100%;
  background: #dd5b5b;
  border-radius: 1rem 1rem 0rem 0rem;
}

.projects .project .card-img svg {
  height: 50%;
  width: 50%;
  fill: white;
}

.projects .project .card-text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .project .card-text h4 {
  font-weight: 500;
  margin: 0rem 2rem;
}

.contact-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.contact-main .wave {
  position: absolute;
  background: url(../img/wave4.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  bottom: 0;
  height: 50vh;
  width: 100%;
  margin: auto;
  z-index: -5;
}

.contact-form {
  min-height: 60vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2rem 0rem;
  font-weight: bold;
  background: white;
  border-radius: 2rem;
}

.contact-form form {
  padding: 3rem 10rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2rem;
}

.contact-form form input,
.contact-form form textarea {
  margin: 2rem;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
  outline: 2px solid black;
}

.contact-form form textarea {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.contact-form form button {
  width: 80%;
  padding: 1rem;
  background: #dd5b5b;
  color: white;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
}

.contact-form form button:focus, .contact-form form button:hover {
  background: #ca2929;
}

@media screen and (max-width: 898px) {
  .header-content {
    width: 100%;
    margin: auto;
  }
  .logo {
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .socials {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .socials a {
    padding: 1rem;
  }
}

@media screen and (max-width: 733px) {
  #projects-main {
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e4e4e4));
    background: linear-gradient(white, #e4e4e4);
  }
  nav {
    width: 100vw;
  }
  .nav-links {
    width: 100vw;
  }
  .nav-links li {
    width: 31%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0rem;
    overflow: hidden;
  }
  .projects {
    width: 100%;
    margin: auto;
  }
  .projects .project {
    height: 22rem;
    width: 22rem;
  }
}

@media screen and (max-width: 461px) {
  .contact-main {
    margin-top: 0rem;
  }
  .contact-form {
    width: 95vw;
    margin-top: 1rem;
  }
  .contact-form form {
    width: 100%;
    padding: 2rem;
  }
  .contact-form form input,
  .contact-form form textarea {
    margin: 1rem;
  }
}

@-webkit-keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */