* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  --header1: calc(2rem + 1vw);
  --header2: calc(4rem + 5vw);
  --header3: calc(1rem + 3vw);
  --header4: calc(1rem + 2vw);
  --text: calc(1.5rem + 0.5vw);
  --svg: calc(3rem + 3vw);
}

h1 {
  font-size: var(--header1);
}

li,
button,
label,
input,
a,
p {
  font-size: var(--text);
  color: black;
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}

h4,
h5 {
  font-size: var(--header4);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

svg {
  height: var(--svg);
  width: var(--svg);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: opening 1s ease-in-out;
          animation: opening 1s ease-in-out;
}

.header-content {
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 10vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

nav .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 0rem 2rem;
}

nav ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 3rem;
}

nav a:hover {
  color: #dbc16a;
  -webkit-transition: all ease-in-out 0.6s;
  transition: all ease-in-out 0.6s;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 90vh;
}

.image-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  background: url(/img/nasa-Q1p7bh3SHj8-unsplash.jpg);
  background-size: cover;
}

.text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-content .intro {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 5rem 2rem;
}

.text-content .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem 3rem;
}

.text-content svg path:hover {
  fill: #c9aa46;
  -webkit-transition: all ease-in-out 0.6s;
  transition: all ease-in-out 0.6s;
}

.projects {
  width: 100%;
  margin: auto;
  min-height: 90vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-bottom: 5rem;
}

.projects h4 {
  margin: 2rem 5rem;
  padding: 2rem 5rem;
}

.projects img {
  width: 40%;
}

.travelly,
.elena,
.path-finder,
.rain-analysis {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.contact-form {
  min-height: 70vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2rem 0rem;
  font-weight: bold;
}

.contact-form form {
  padding: 3rem 10rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2rem;
}

.contact-form form input,
.contact-form form textarea {
  margin: 2rem;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
  outline: 2px solid black;
}

.contact-form form textarea {
  font-size: 2rem;
}

.contact-form form button {
  width: 80%;
  padding: 1rem;
  background: #3e6eb6;
  color: white;
}

.contact-form form button:focus, .contact-form form button:hover {
  background: #2c528a;
}

@media screen and (max-width: 591px) {
  nav {
    min-height: 15vh;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .logo {
    padding: 1rem;
  }
  .socials {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .socials a {
    padding: 1rem;
  }
}

@-webkit-keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */